body {
    font-family: arial;
    margin: 0;
    padding: 0;
}

.strong {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.error {
    margin: 0 auto;
    width: 80%;
}

.centerize {
    margin: 5px 40px 5px 40px;
    width: 800px;
    text-align: center;
}

.subscript {
    font-size: 75%;
    vertical-align: bottom;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

a {
    color: #0066CC;
    text-decoration: none;
}

.logo {
    margin: 20px 0px 40px 0px;
}

.logo img {
    border: none;
    align: center;
}

.title {
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto 45px auto;
    text-align: center;
}

.subtitle {
    font-size: 16px;
}

.welcome {
    margin-left: auto;
    margin-right: auto;
}

.welcome #searchForm {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.welcome #submitButton {
    height: 40px;
    font-size: 20px;
    width: 90px;
}

.welcome #queryField {
    width: 600px;
    font-size: 20px;
    height: 40px;
}

.directions {
    text-align: center;
    color: grey;
    padding: 0px;
    font-size: 16px;
}

.examples table {
    margin: 50px auto 30px auto;
    width: 650px;
    border-spacing: 5px;
}

.examples table .titles {
    font-size: 16px;
    font-weight: bold;
}

.examples th {
    border-bottom: solid 1px black;
    text-align: center;
}

.examples a {
    color: #006633;
    font-size: 16px;
}

#footer {
    margin: 50 auto 10 auto;
}

.graphLink {
    float: left;
}

.graphLink img {
    width: 20px;
    height: 20px;
    padding: 3 10 3 0;
    vertical-align: center;
    position: relative;
}

.sliderContainer {
    width: 60%;
}

#phSlider {
    width: 100%;
}

#phField {
    text-align: left;
    size: 3;
    width: 50%;
}

#ionStrengthSlider {
    width: 100%;
}

#ionStrengthField {
    text-align: left;
    size: 3;
    width: 50%;
}

#electronReductionPotentialSlider {
    width: 100%;
}

#electronReductionPotentialField {
    text-align: left;
    size: 3;
    width: 50%;
}

/** autocomplete styles */

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #0066CC; display: block; border-bottom: 1px solid #000; }


.input-box { position: relative; }

.unit { position: absolute; display: block; left: 80px; top: 5px; z-index: 9; font-size: 12px;}

