<div class="aboutLinks">
    <a href="/about" alt="About">About eQuilibrator</a> |
    <a href="/classic_reactions" alt="Classic Biochemical Reactions and Pathways">Classic Reactions</a> |
    <a href="/download" alt="Download eQuilibrator data">Downloads</a> |
    <a href="/faq" alt="Frequently Asked Questions">FAQ</a> |
    <a href="/cite" alt="Cite Us">Cite Us</a> |
    <a href="https://groups.google.com/forum/#!forum/equilibrator-users" alt="Contact Us">Contact</a> |
    <a href="/whats_new" alt="New in 2.0">New in 2.0</a>
</div>