{% load static %}
<div class="aboutLinks">
    <a href="/" alt="Search">Search</a> |
    <a href="/pathway" alt="Pathway Analysis">Pathway</a> |
    <a href="/download" alt="Download eQuilibrator data">Downloads</a> |
    <a href={% static "classic_rxns/about.html" %} alt="About">About</a> |
    <a href={% static "classic_rxns/classic_reactions/index.html" %} alt="Classic Biochemical Reactions and Pathways">Classic Reactions</a> |
    <a href={% static "classic_rxns/faq.html" %} alt="Frequently Asked Questions">FAQ</a> |
    <a href={% static "classic_rxns/cite.html" %} alt="Cite Us">Cite Us</a> |
    <a href="https://groups.google.com/forum/#!forum/equilibrator-users" alt="Contact Us">Contact</a>
</div>
