{% load static %}
<div class="aboutLinks">
    <a href={% static "classic_rxns/about.html" %} alt="About">About eQuilibrator</a> |
    <a href={% static "classic_rxns/classic_reactions.html" %} alt="Classic Biochemical Reactions and Pathways">Classic Reactions</a> |
    <a href="/download" alt="Download eQuilibrator data">Downloads</a> |
    <a href={% static "classic_rxns/faq.html" %} alt="Frequently Asked Questions">FAQ</a> |
    <a href={% static "classic_rxns/cite.html" %} alt="Cite Us">Cite Us</a> |
    <a href="https://groups.google.com/forum/#!forum/equilibrator-users" alt="Contact Us">Contact</a> |
    <a href={% static "classic_rxns/new_in_2.0.html" alt="New in 2.0"%}>New in 2.0+</a>
</div>
