{% load static %}
<html>
<head>
    <link href="{% static "info_page.css" %}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="{% static "images/equilibrator_favicon.png" %}"> 
    <title>eQuilibrator relevant publications</title>
    {% include "analytics.html" %}
</head>
<body>
    <div class="container">
        {% include "logo_large.html" %}
        <div class="title">Relevant publications:</div>
        <div class="references">
        <ul>
            <li>
                A. Flamholz, E. Noor, A. Bar-Even, R. Milo (2012)</br>
                <b>eQuilibrator - the biochemical thermodynamics calculator
                <a href="http://www.nar.oxfordjournals.org/cgi/doi/10.1093/nar/gkr874"></b></br>
                <i>Nucleic Acids Res 40:D770-5</i> [DOI: 10.1093/nar/gkr874]</a></br></br></br>
            </li>
            <li>E. Noor, A. Bar-Even, A. Flamholz, Y. Lubling, D. Davidi, R. Milo (2012)</br>
                <b>An integrated open framework for thermodynamics of reactions that combines accuracy and coverage
                <a href="http://bioinformatics.oxfordjournals.org/content/28/15/2037.long"></b></br>
                <i>Bioinformatics 28:2037-2044</i> [DOI: 10.1093/bioinformatics/bts317]</a></br></br></br>
            </li>
            <li>
                E. Noor, H.S. Haraldsdóttir, R. Milo, R.M.T. Fleming (2013)</br>
                <b>Consistent Estimation of Gibbs Energy Using Component Contributions
                <a href="http://dx.plos.org/10.1371/journal.pcbi.1003098"></b></br>
                <i>PLoS Comput Biol 9(7): e1003098</i> [DOI: 10.1371/journal.pcbi.1003098]</a></br></br></br>
            </li>
            <li>
                E. Noor, A. Bar-Even, A. Flamholz, E. Reznik, W. Liebermeister, R. Milo (2014)</br>
                <b>Pathway Thermodynamics Highlights Kinetic Obstacles in Central Metabolism
                <a href="http://dx.doi.org/10.1371/journal.pcbi.1003483"></b></br>
                <i>PLoS Comput Biol 10(2):e1003483</i> [DOI: 10.1371/journal.pcbi.1003483]</a>
            </li>
        </ul>
        </div>

        {% include "footer.html" %}

    </div>
</body>
