<html>
<head>
    <link href="/media/info_page.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/media/images/equilibrator_favicon.png"> 
    <title>eQuilibrator relevant publications</title>
    {% include "analytics.html" %}
</head>
<body>
    <div class="container">
        {% include "logo_small.html" %}
        <div class="title">Relevant publications:</div>
        <div class="references">
        <ul>
            <li>
                A. Flamholz, E. Noor, A. Bar-Even, R. Milo, </br>
                <b>eQuilibrator - the biochemical thermodynamics calculator
                <a href="http://www.nar.oxfordjournals.org/cgi/doi/10.1093/nar/gkr874"></b></br>
                <i>Nucleic Acids Res (2012) 40:D770-5</i> [DOI: 10.1093/nar/gkr874]</a></br></br></br>
            </li>
            <li>E. Noor, A. Bar-Even, A. Flamholz, Y. Lubling, D. Davidi, R. Milo,</br>
                <b>An integrated open framework for thermodynamics of reactions that combines accuracy and coverage
                <a href="http://bioinformatics.oxfordjournals.org/content/28/15/2037.long"></b></br>
                <i>Bioinformatics (2012) 28:2037-2044</i> [DOI: 10.1093/bioinformatics/bts317]</a></br></br></br>
            </li>
            <li>
                E. Noor, H.S. Haraldsdóttir, R. Milo, R.M.T. Fleming,</br>
                <b>Consistent Estimation of Gibbs Energy Using Component Contributions
                <a href="http://dx.plos.org/10.1371/journal.pcbi.1003098"></b></br>
                <i>PLoS Comput Biol (2013) 9:e1003098</i> [DOI: 10.1371/journal.pcbi.1003098]</a>
            </li>
        </ul>
        </div>

        <div id="footer">
            {% include "about_links.html" %}
        </div>

    </div>
</body>