<tr bgcolor="#B1D0FC">
    <th colspan="6">Species Formation Energies</td>        
</tr>
<tr class="speciesHeader">
    <td>Phase</td>
    <td>Net charge</td>
    <td>#Hydrogens</td>
    <td><a href="faq#dgf">&Delta;<sub><i>f</i></sub>G&deg;</a> [kJ/mol]</td>
    <td><a href="faq#dgf">&Delta;<sub><i>f</i></sub>G'&deg;</a> [kJ/mol]</td>
    <td>Reference</td>
</tr>

{% for sg in compound.unique_species_groups %}
    {% for specie in sg.all_species_no_mg %}
        <tr class="speciesSource {% if forloop.last and not forloop.parentloop.last %}last{%endif%}">
            <td>{{ specie.phase }}</td>
            <td>{% if specie.phase == 'aqueous' %} {{ specie.net_charge }} {% else %} &nbsp; {% endif %}</td>
            <td>{% if specie.phase == 'aqueous' %} {{ specie.number_of_hydrogens }} {% else %} &nbsp; {% endif %}</td>
            <td>{{ specie.formation_energy|floatformat:1 }}</td>
            <td>
                {% if specie.transformed_energy != None %}
                    {{ specie.transformed_energy|floatformat:1 }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            
            {% if forloop.first %}
            <td class="reference {% if not forloop.parentloop.last %}border{% endif %}" rowspan="{{ sg.all_species|length }}">
                <a href="/data_refs" title="Reference list">{{ sg.formation_energy_source }}</a>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
{% endfor %}
