{% load static %}
<html>
    <head>
        <title>Thermodynamic Data References</title>
		<link rel="icon" type="image/x-icon" href="{% static "images/equilibrator_favicon.png" %}">
		<link href="{% static "main.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "jquery-ui-1.8.5.custom.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "jquery.lightbox-0.5.css" %}" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="{% static "jquery-1.4.2.min.js" %}"></script>
		<script type="text/javascript" src="{% static "jquery-ui-1.8.5.custom.min.js" %}"></script>
		<script type="text/javascript" src="{% static "jquery.autocomplete.min.js" %}"></script>
		<script type="text/javascript" src="{% static "jquery.lightbox-0.5.min.js" %}"></script>
    </head>
    <body>
        <div class="centerize">
            {% include "logo_large.html" %}
            
			<div class="refsList">
                <table border="1">
				{% for source in sources %}
				  {% if source.citation %}
				    <tr>
                            <td width="10%" height="50">{{source.name}}</td>
                            <td width="85%">{{source.citation|safe}}</td>
                            <td width="5%" height="50" align="right">
                                {% if source.doi %}
                                    doi:{{source.doi}}
                                {% else %}
                                    {% if source.pmid %}
                                        pmid:{{source.pmid}}
                                    {% else %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                  {% endif %}
                {% endfor %}
                </table>
            </div>
            {% include "footer.html" %}

        </div>
        
    </body>
</html>

