<html>
	<head>
		<title>eQuilibrator for Metabolic Pathways</title>
		<link rel="icon" type="image/x-icon" href="/media/images/equilibrator_favicon.png">
		<link href="/media/main.css" rel="stylesheet" type="text/css">
		<link href="/media/style.css" rel="stylesheet" type="text/css">
		<link href="/media/jquery-ui.structure.min.css" rel="stylesheet" type="text/css">
		<link href="/media/jquery-ui.theme.min.css" rel="stylesheet" type="text/css">
	    {% include "analytics.html" %}
	</head>
	<body>
	
	<div class="welcome centerize">
	
		{% include "logo_large.html" %}
   
		<form name="pathway_form" action="/pathway/build_model" method="POST" enctype="multipart/form-data">
			<input type="hidden" name='conc_units' value='mM' />
		    {% csrf_token %}
		    <table class='results'>
		    	<tr class='infoTableHeader'>
	            	<th colspan="100%">Step 1: Build <a href='http://www.sbtab.net'>SBtab</a> Pathway Model</th>
	        	</tr>
	        	<tr>
	    			<td colspan="100%">Skip this step if you already have an SBtab model file.</td>
	    		</tr>
		    	<tr>
		    		<td>Pathway definition CSV (<a href="/media/pathways/example_pathway_ethanol_fermentation.csv">example</a>)</td>
		    		<td><input type="file" name="pathway_file" /></td>
		    	</tr>
		    	<tr>
		    		<td>Minimum concentration<sup>&dagger;</sup>:</td>
		    		<td><input type="text" name='min_c' value='0.001' /> mM</td>
		    	</tr>
		    	<tr>
		    		<td>Maximum concentration<sup>&dagger;</sup>:</td>
		    		<td><input type="text" name='max_c' value='100'/> mM</td>
		    	</tr>
		    	<tr>
			    	<td>
			            pH
			        </td>
			        <td>
			            <input type="text" name="pH" id="phField" value="{{constants.DEFAULT_PH}}" />
			        </td>
			    </tr>
			    <tr>
			    	<td>
			            Ionic Strength
			        </td>
			        <td>
			            <input type="text" name="ionic_strength" id="ionStrengthField" value="{{constants.DEFAULT_IONIC_STRENGTH}}" /> Molar
			        </td>
			    </tr>
		    	<tr>
		    		<td class='footnote' colspan=2>
						<sup>&dagger;</sup>The default concentration range of 1 &mu;M - 100 mM reflects the fact that metabolite concentrations are constrained from above by osmotic pressure and toxicity considerations and from below
						by enzyme affinities.
					</td>
				</tr>
				<tr>
		    		<td class='footnote' colspan=2>
						<sup>&dagger;</sup>Default concentrations for ubiquitous cofactors like CoA and ATP are set
						based on measurements from <i>E. coli</i> and other model organisms (see Noor et al., PloS Comp. Bio 2014). 
						You can edit these defaults by modifying the SBtab file (e.g. in Excel) before performing
						MDF analysis below. 
					</td>
				</tr>
		    	<tr class='infoTableHeader' align='center'>
		    		<td colspan="100%"><input type='submit' /></td>
		    	</tr>

		    </table>
		</form>
		<table class='results'>
	    	<tr class='infoTableHeader'>
	        	<th colspan="100%">Step 2: Verify & Edit Pathway Model</th>
	    	</tr>
	    	<tr>
	    		<td>1. Check relative fluxes for all reactions in the SBtab file.</td>
	    	</tr>
	    	<tr>
	    		<td>2. Check KEGG IDs for all reactants in the model.</td>
	    	</tr>
	    	<tr>
	    		<td>3. Check and/or edit bounds on metabolite concentrations.</td>
	    	</tr>
	    </table>
		<form name="pathway_form" action="/pathway/results" method="POST" enctype="multipart/form-data" target="_blank">
		    {% csrf_token %}
		    <table class='results'>
		    	<tr class='infoTableHeader'>
	            	<th colspan="100%">Step 3: Perform Pathway <a href='/faq#mdf'>MDF</a> Analysis</th>
	        	</tr>
		    	<tr>
		    		<td>Pathway model TSV (<a href="/media/pathways/example_pathway_ethanol_fermentation_pH7.00_I0.10.tsv">example</a>)</td>
		    		<td><input type="file" name="pathway_file" /></td>
			    </tr>
		    	<tr class='infoTableHeader' align='center'>
		    		<td colspan="100%"><input type='submit' /></td>
		    	</tr>
		    </table>
		</form>
	</div>

	{% include "footer.html" %}
