<table class="results">
    <tr class="infoTableHeader">
        <th colspan="100%">Enzyme information</th>
    </tr>
    <tr>
        <td width="150px"><b>Common names</b></td>
        <td>
            {% for name in enzyme.all_common_names %}
            <div class="commonName">{{ name.name }}</div>
            {% endfor %}
        </td>
    </tr>
  <tr>
    <td width="150px"><b>EC Number</b></td>
    <td>
      <div>{{ enzyme.ec }}</div>
    </td>
  </tr>
    {% if enzyme.kegg_link %}
	<tr>
		<td width="150px"><b>Links</b></td>
	    <td><div><a href="{{enzyme.kegg_link}}">KEGG &raquo;</a></div>
            <div><a href="{{enzyme.brenda_link}}">BRENDA &raquo;</a></div></td>
    </tr>
    {% endif %}
</table>
{% if enzyme.all_reactions %}
<table class="reactionInfo">
    <tr class="infoTableHeader">
        <th colspan="100%">Reactions</th>        
    </tr>
    {% for reaction in enzyme.all_reactions %}
        <tr>
            <td><a href="{{reaction.link}}">{{reaction.reaction_string}}</a></td>
        </tr>
    {% endfor %}
</table>
{% endif %}
