<html>
<head>
    <title>eQuilibrator FAQ</title>
    <link href="/media/info_page.css" rel="stylesheet" type="text/css">
	<link rel="icon" type="image/x-icon" href="/media/images/equilibrator_favicon.png">
    {% include "analytics.html" %}
</head>
    <body>
        <div class="container">
            {% include "logo_large.html" %}
            <div class="title">Frequently Asked Questions</div>
            
            <div>
                <ul>
                    <li><a href="#compoundSearch">How do I search for a compound or enzyme?</a></li>
                    <li><a href="#rxnSearch">How do I search for a reaction?</a></li>
                    <li><a href="#stdConditions">What are "standard conditions?"</a></li>
                    <li><a href="#gases">How do you deal with gases like O<sub>2</sub> and H<sub>2</sub>? How can I set for standard conditions in reactions involving a gas?</a></li>
                    <li><a href="#dgr">What are &Delta;<sub>r</sub>G&deg;, &Delta;<sub>r</sub>G'&deg; and &Delta;<sub>r</sub>G'?</a></li>
                    <li><a href="#dgf">What are &Delta;<sub>f</sub>G&deg; and &Delta;<sub>f</sub>G'&deg;?</a></li>
                    <li><a href="#dgm">What does the 'm' in  &Delta;<sub>r</sub>G'<sup>m</sup>, &Delta;<sub>f</sub>G'<sup>m</sup>, and E'<sup>m</sup> mean?</li>
                    <li><a href="#notAvailable">Why is &Delta;G "not available?"</a></li>
                    <li><a href="#uncertainties">How do you calculate the uncertainty for each estimation?</a></li>
                    <li><a href="#hConcentration">Why can't I change the concentration of Hydrogen ions?</a></li>
                    <li><a href="#waterConcentration">Why can't I change the concentration of water?</a></li>
                    <li><a href="#changeTemp">Why can't I change the temperature?</a></li>
                    <li><a href="#aqueousCO2">What are CO<sub>2</sub>(aq) and CO<sub>2</sub>(total)?</a></li>
                    <li><a href="#halfReactions">What do you mean "electrons are not balanced?" What are half-reactions?</a></li>
                    <li><a href="#feRedox">What's so complicated about redox reactions involving iron?</a></li>
                    <li><a href="#atpHydrolysis">Why is the value for ATP hydrolysis different than in books by Alberty, the previous version of eQuilibrator and some textbooks?</a></li>
                    <li><a href="#totalDrivingForce">What is the total driving force of a pathway?</a></li>
                    <li><a href="#mdf">What is the MDF of a pathway?</a></li>
                    <li><a href="#contact">How can I contact the people behind eQuilibrator?</a></li>
                </ul>
            </div>

            <div class="faqEntry" id="compoundSearch">
                <div class="faqQuestion">How do I search for a compound or enzyme?</div>
                
                <div class="faqAnswer">
                <p>You can search for a compound or enzyme by entering their common name into the search box.
                For example, try "<a href="/search?query=Succinyl-CoA">Succinyl-CoA</a>" or
                "<a href="/search?query=pyruvate+formate-lyase">pyruvate formate-lyase</a>."
                As you type, you should see a list of potential matches which should give you a sense of
                what eQuilibrator thinks you are looking for. To the right of each suggestion you will
                see they type of the match: "Compound" or "Enzyme".
                
                  Complete your search by selecting a compound or enzyme from the list or typing the
                  name in full. When you've finished typing your query, click 'Search' or press
                  'Enter' to see search results.
                  </p>
                
                <p>
                The search results page shows the top matches for your query. Results are shown in two
                sections: one for compounds and another for enzymes. If you're interested in a compound,
                click on it to see more details and to find &Delta;<sub>f</sub>G.
                If you're interested in an enzyme, click on the enzyme name to see
                detailed information about it. If you want to explore the thermodynamics of an
                enzyme-catalyzed reaction, choose a reaction listed under the enzyme name to get
                a &Delta;<sub>r</sub>G estimation.
                </p>
                </div>
            </div>
            
            <div class="faqEntry" id="rxnSearch">
                <div class="faqQuestion">How do I search for a reaction?</div>
                
                <div class="faqAnswer">
                <p>You can search for a reaction by entering an (almost) free-text string of the reaction.
                For example, you can type
                "<a href="/search?query=glucose+%3D+2+ethanol+%2B+2+co2">glucose = 2 ethanol + 2 co2</a>".</p>
                
                <p>In general, write your reaction using " = " or " &lt;=&gt; " to separate the substrates from the products.
                The spaces around " = " are required. Always use spaces before and after compound names, "+"
                and stoichiometric coefficients.</p>
                
                <p>
                Also note that it is possible to find reactions through the enzymes that catalyze them.
                For example, instead of typing in the full reaction
                "<a href="/search?query=Fructose+1%2C6-bisphosphate+%3D+Glycerone+phosphate+%2B+Glyceraldehyde+3-phosphate">Fructose 1,6-bisphosphate = Glycerone phosphate + Glyceraldehyde 3-phosphate</a>"
                you can instead search for "<a href="/search?query=aldolase">aldolase</a>" or
                "<a href="/search?query=fructose+bisphosphate+aldolase">fructose bisphosphate aldolase</a>."
                </p>
                </div>
            </div>
            
            <div class="faqEntry" id="stdConditions">
                <div class="faqQuestion">What are "standard conditions?"</div>
                
                <div class="faqAnswer">
                <p>"Standard conditions" implies that all substrates and products of a reaction are at 1 M concentration.
                If their concentrations are different, it will affect the &Delta;<sub>r</sub>G'.</p>
                </div>
            </div>

            <div class="faqEntry" id="gases">
                <div class="faqQuestion">How do you deal with gases like O<sub>2</sub> and H<sub>2</sub>?
                How can I set for standard conditions in reactions involving a gas?</div>
                
                <div class="faqAnswer">
                <p>For gases the standard condition is defined as 1 atmosphere (bar) partial pressure.
                However, if one knows the soluble concentration of the gas of interest it should be
                specified by choosing "custom" concentrations. Alternatively, if you know the partial pressure
                of a reactant in the gas phase of the reaction chamber, and assume there is an equilibrium
                with the solution phase, then you can select a "custom" concentration for the gas (in units of mbar).
                You can also indicate that you want to use the standard gas phase for the &Delta;G'&deg; by adding
                (g) to the end of the compound name. For example, try to search for:</br>
                <a href="http://127.0.0.1:8000/search?query=CO2%28g%29+%2B+PEP+%2B+H2O+%3D+Oxaloacetate+%2B+Pi">
                CO2(g) + PEP + H2O = Oxaloacetate + Pi</a>.
                This will work only for compounds for which the formation energy in gas phase is in our database, namely
                O2, N2, H2, CO2, and CO.
                </p>
                </div>
            </div>

            <div class="faqEntry" id="dgr">
                <div class="faqQuestion">What are &Delta;<sub>r</sub>G&deg;, &Delta;<sub>r</sub>G'&deg; and &Delta;<sub>r</sub>G'?</div>
            
                <div class="faqAnswer">
                    <p>G is the Gibbs free energy of a physical system.
                    It quantifies the amount of energy available for work in a system that is 
                    at constant temperature and pressure. Biological systems do not often
                    experience radical changes in temperature or pressure, so G is appropriate
                    for their analysis. On eQuilibrator we assume that the temperature is
                    25 &deg;C (298.15 Kelvin) and the pressue is 1 bar. As a consequence of the
                    second law of thermodynamics, spontaneous changes in systems at constant temperature and pressure
                    must lead to a reduction in G. Chemical reactions change biochemical systems,
                    so the same must be true of them: in order to occur, a reaction must lead
                    to a reduction in the Gibbs free energy - &Delta;<sub>r</sub>G' &lt; 0.
                    </p>
                    
                    <p>&Delta;<sub>r</sub>G&deg; is the change in Gibbs free energy due to a 
                    chemical reaction in standard conditions and without accounting for pH,
                    ionic strength or any other cellular factors (i.e. they are taken as 0).
                    &Delta;<sub>r</sub>G'&deg; is the change in Gibbs free energy due to a
                    chemical reaction due a reaction at a particular pH and ionic strength.
                    These are convenient reference points, but neither &Delta;<sub>r</sub>G&deg;
                    nor &Delta;<sub>r</sub>G'&deg; account for the effect of reactant
                    concentrations on the free energy.
                    </p>
                    
                    <p>In cells there are certain prevailing metabolite concentrations. 
                    Concentrations affect the entropic component of the free energy:
                    if substrate concentrations are higher than product concentrations then
                    forward flow of the reaction will balance the concentrations and increase 
                    the entropy of the system. &Delta;<sub>r</sub>G' accounts for the effect
                    of concentrations. It is very important to use &Delta;<sub>r</sub>G' values
                    derived from physiologically plausible concentrations in thermodynamic analysis
                    because reactant concentrations have a substantial effect on &Delta;<sub>r</sub>G'
                    and because the laws of thermodynamics constrain only &Delta;<sub>r</sub>G',
                    not &Delta;<sub>r</sub>G&deg; or &Delta;<sub>r</sub>G'&deg;.  
                    </p>
                </div>
            </div>

            <div class="faqEntry" id="dgf">
                <div class="faqQuestion">What are &Delta;<sub>f</sub>G&deg; and &Delta;<sub>f</sub>G'&deg;?</div>
            
                <div class="faqAnswer">
                    <p>The formation energy of a compound is the change in free energy due to the
                    compound's formation reaction - the reaction forming it from elements in their
                    standard form. For example, the formation reaction of carbon dioxide is
                    O<sub>2</sub> + C &rlhar; CO<sub>2</sub>. &Delta;<sub>f</sub>G&deg; is the
                    formation energy of a compound in standard conditions and without accounting for pH,
                    ionic strength or any other cellular factors (i.e. they are taken as 0).
                    </p>
                    
                    <p>In contrast, &Delta;<sub>f</sub>G'&deg; is the formation energy of a compound
                    at a particular set of cellular conditions. When we show a &Delta;<sub>f</sub>G'&deg;
                    on eQuilibrator, as we do on compound and reaction pages, it has been transformed 
                    to the pH and ionic strength values. The default pH is 7 and the default ionic strength
                    is 0.1 M.
                    </p>            
                    
                </div>
            </div>

            <div class="faqEntry" id="dgm">
                <div class="faqQuestion">What does the 'm' in  &Delta;<sub>r</sub>G'<sup>m</sup>, &Delta;<sub>f</sub>G'<sup>m</sup>, and E'<sup>m</sup> mean?</div>
            
                <div class="faqAnswer">
                    <p>
                    As explained <a href="#dgr">above</a>, the reaction Gibbs energy depends on the concentrations of the reactants 
                    (and similarly for the formation energy &Delta;<sub>f</sub>G' and the reduction potential E'). It is useful to have a standard for these concentrations in order to compare reactions without specifying a concentration explicitly. It is standard to use 1 M concentrations to compare reactions in solution. However, in the context of metabolic reactions
                    inside living cells, 1 mM is a much more appropriate standard concentration because metabolite concentrations typically range from 1 nM to 10 mM and never exceed 100 mM. As such, 1 M standard concentrations are entirely non-physiological. 
                    </p>

                    <p>
                    The notation for the reaction Gibbs energy in the standard 1M concentrations
                    is &Delta;<sub>r</sub>G'&deg;, i.e.
                    the degree sign (&deg;) represents 1M. For our physiological standard
                    we use the superscript 'm' to mark the 1mM concentration that is used for all
                    reactants: &Delta;<sub>r</sub>G'<sup>m</sup>, &Delta;<sub>f</sub>G'<sup>m</sup>, and E'<sup>m</sup>.
                    
                    </p>

                </div>
            </div>


            <div class="faqEntry" id="notAvailable">
                <div class="faqQuestion">Why is &Delta;G "not available?"</div>
                
                <div class="faqAnswer">
                <p>There are several reasons that a &Delta;G value might not be available.</p>
                
                <p>In the case of a reaction, &Delta;<sub>r</sub>G is not available when
                &Delta;<sub>f</sub>G is missing for one of the reactants.
                &Delta;<sub>f</sub>G is very difficult to measure experimentally. We use the group contribution
                method to estimate &Delta;<sub>f</sub>G for compounds that have not been characterized experimentally [2,10].
                However, we need certain data about a compound in order to approximate &Delta;<sub>f</sub>G.</p>

                <p>Our list of compounds is taken from the Kyoto Encyclopedia of Genomes and Genes (<a href="http://www.kegg.jp">KEGG</a>) [5].
                Occasionally, KEGG compound entries don't contain an InChI identifier. Without an InChI identifier we cannot
                compute the structure of the compound and without structural information we can't estimate &Delta;<sub>f</sub>G.</p>
                
                <p>In some cases, a compound may contain a chemical group that was not observed in any of the compounds that have experimental
                &Delta;<sub>f</sub>G measurements. We cannot produce estimates for these compounds as we cannot estimate the contribution
                of unknown groups. In other cases, our algorithm for analyzing compound structure fails to decompose the compound
                into groups. If we are unable to decompose the compound then we cannot use the group contribution method.</p>
                
                <p>Moreover, we can't estimate &Delta;<sub>r</sub>G for any reaction that contains a compound that we cannot estimate
                &Delta;<sub>f</sub>G for.</p>
    
                </div>
            </div>

            <div class="faqEntry" id="uncertainties">
                <div class="faqQuestion">How do you calculate the uncertainty for each estimation</div>
                <div class="faqAnswer">
                <p>In order to fully understand how to calculate estimation uncertainties, you'll
                probably need to read our paper on the Component Contribution method [12]. The short
                answer would be that we ran a cross-validation benchmark using a set of reactions for which the
                &Delta;<sub>r</sub>G' has been measured. Any reaction that you type in, is decomposed into
                compounds and these compounds are decomposed into groups. By comparing this decomposition
                vector with the ones from our database, we can estimate the &Delta;<sub>r</sub>G'. Along
                the way, we can also evaluate how good our estimation is, by checking how good we were
                for similar reactions in our benchmark. 
                </div>
            </div>
            

            <div class="faqEntry" id="hConcentration">
                <div class="faqQuestion">Why can't I change the concentration of Hydrogen ions?</div>
                
                <div class="faqAnswer">
                <p>eQuilibrator uses the "Alberty method" for biochemical thermodynamics.
                In the Alberty method, H<sup>+</sup> is defined to have 0 free energy [6,8].
                Instead of correcting for H<sup>+</sup> concentration, a pH correction accounts for the abundance of H<sup>+</sup>.
                You can use the pH "slider" to see the effect of H<sup>+</sup> concentration on your reaction. 
                </p>
                </div>
            </div>
            
            <div class="faqEntry" id="waterConcentration">
                <div class="faqQuestion">Why can't I change the concentration of water?</div>
                
                <div class="faqAnswer">
                <p>Biochemical systems are generally assumed to be aqueous environments [6,8].
                Therefore, the concentration of water is fixed.
                </p>
                </div>
            </div>
            
            <div class="faqEntry" id="changeTemp">
                <div class="faqQuestion">Why can't I change the temperature?</div>
                
                <div class="faqAnswer">
                <p>The temperature is fixed at 25 &deg;C (298.15 K) for all &Delta;G values given.
                The group contribution method enables us to approximate &Delta;<sub>f</sub>G of compounds at
                a particular temperature (the temperature at which they were measured) [10]. As the change in free energy
                is defined as &Delta;G = &Delta;H - T&Delta;S and we don't know the value of &Delta;S in most cases, we
                cannot predict how changes in temperature will affect &Delta;<sub>f</sub>G.
                </p>
                </div>
            </div>
            
          <div class="faqEntry" id="aqueousCO2">
            <div class="faqQuestion">What are CO<sub>2</sub>(aq) and CO<sub>2</sub>(total)?</div>
            
            <div class="faqAnswer">
            <p>
            CO<sub>2</sub> in solution gives rise to several chemical species.
            It can be quite confusing to think about the equilibrium between
            these species - doing so requires care. CO<sub>2</sub>(aq) is dissolved
            CO<sub>2</sub>. CO<sub>2</sub>(aq) undergoes a spontaneous hydration
            reaction to form carbonic acid: </br>
            <center>
                CO<sub>2</sub> + H<sub>2</sub>O &rlhar; H<sub>2</sub>CO<sub>3</sub></br>
            </center>
            or a similar reaction of: </br>
            <center>
                CO<sub>2</sub> + OH<sup>-</sup> &rlhar; HCO<sub>3</sub><sup>-</sup></br>
            </center>
            </p>
            
            <p>
            Several hydrated species form in water through addition or release of protons: carbonic acid (H<sub>2</sub>CO<sub>3</sub>), bicarbonate (HCO<sub>3</sub><sup>-</sup>) and carbonate (CO<sub>3</sub><sup>2-</sup>). In thermodynamics of biochemical reactions, different ionic states (known as pseudo-isomers) are lumped together. If you search for any of these hydrated species, eQuilibrator will use their lumped form - HCO<sub>3</sub><sup>-</sup>(aq). Sometimes it is easier to measure or analyze the sum of CO<sub>2</sub>(aq) and its three hydrated forms (H<sub>2</sub>CO<sub>3</sub>, HCO<sub>3</sub><sup>-</sup> and CO<sub>3</sub><sup>2-</sup>). This sum of species is termed CO<sub>2</sub>(total). Note that in the chemical formula of CO<sub>2</sub>(total) there are actually 3 oxygen atoms because it also includes the hydrating water molecule.
            </p>

            <center><img src="/media/images/co2_hydration.png"></center>

            <p>
            When only the total concentration is known, it is assumed that there is equilibrium among the four species and one uses CO<sub>2</sub>(total) in place of CO<sub>2</sub>(aq). If, however, you know or can measure the concentration of CO<sub>2</sub>(aq) alone, then it is reasonable to use CO<sub>2</sub>(aq) as a reactant. The concentration of CO<sub>2</sub>(aq) is usually straightforward to calculate based on Henry’s law dictating, for example, that under standard atmospheric conditions of about 400ppm CO<sub>2</sub>(g) the concentration of CO<sub>2</sub>(aq) is about 10 uM. The concentrations of bicarbonate and CO<sub>2</sub>(total), however, depend strongly on pH. More information is supplied in the figure below and in this <a href="https://docs.google.com/spreadsheets/d/1WLIptgXKhVx17UBhSCrR96PbU9iBVJuKPEvyOx41VYM/edit?usp=sharing">link</a>. 
            </p>

            <p>
            The uncatalyzed hydration reaction (CO<sub>2</sub>(aq) + H<sub>2</sub>O &rlhar; H<sub>2</sub>CO<sub>3</sub>) takes minutes to equilibrate. In many organisms, however, this reaction is catalyzed by the enzyme carbonic anhydrase, which speeds up the reaction by several orders of magnitude [3]. In cells, therefore, CO<sub>2</sub>(aq) is generally considered to be in equilibrium with its hydrated forms (carbonic acid, bicarbonate and carbonate) save in some special cases such as in cyanobacterial carbon concentrating mechanisms where carbonic anhydrase is absent from some parts of the cell. 
            </p>

            <p>
            We note that anaplerotic reactions use bicarbonate as their substrate whereas decarboxylation reactions release CO<sub>2</sub> but in finding the &Delta;G' they can be written using either CO<sub>2</sub>(aq), HCO<sub>3</sub><sup>-</sup>(aq) or CO<sub>2</sub>(total) as long as the concentrations used are accurate. This is true because of the equilibrium among these species.
            </p>

            <p>
            We know that this whole issue is quite confusing. You are welcome to suggest how to explain this better. 
            </p>
            </div>
          </div>
          
          <div class="faqEntry" id="halfReactions">
            <div class="faqQuestion">What is a "Half-reaction"?</div>
            
            <div class="faqAnswer">
            <p>
            A <a href="http://en.wikipedia.org/wiki/Half-reaction">half-reaction</a> 
            can be the oxidation or reduction component of a <a href="http://en.wikipedia.org/wiki/Redox">
            redox reaction</a>, without the
            other component. When you search for such a reaction, eQuilibrator recognizes that the number of
            electrons is not balanced and automatically switches to 'half-reaction' mode. Without knowing the other
            half, the change in Gibbs energy is not well defined. The parameter that is used to describe the
            potential difference (in Volts) between the products and substrates of a half-reaction is called
            <a href="http://en.wikipedia.org/wiki/Redox_reaction#Standard_electrode_potentials_.28reduction_potentials.29">
            redox potential</a> and is marked by E'&deg;. The redox
            potential is equal to the voltage at equilibrium under standard
            conditions of an electrochemical cell in which the cathode reaction is the half-reaction considered,
            and the anode is a standard hydrogen electrode where hydrogen is oxidized: 
            &frac12 H<sub>2</sub> &rlhar; H<sup>+</sup> + e<sup>-</sup>.
            </p>
            <p>
            Assuming you do want to get the Gibbs energy of a reaction, you have two options. You can either
            balance the electrons in the half-reaction by completing the other half (we make it easy for you
            by providing a link for balancing with NAD<sup>+</sup>/NADH). Or, you could use the bottom panel
            in the results table to adjust the potential of the electrons in the reaction (i.e. change
            the value of e<sup>-</sup> potential [mV]). This is useful in cases where the half-reaction is coupled
            to an electron transfer for which the redox potential is known, but the compounds themselves are not,
            or they are too complex to use in eQuilibrator (e.g. protein complexes or membranal electron transport
            chains).
            </p>
            </div>
        </div>

        <div class="faqEntry" id="feRedox">
            <div class="faqQuestion">What's so complicated about redox reactions involving iron?</div>
            
            <div class="faqAnswer">
            <p>The reduction or oxidation of the pair Fe(III)/Fe(II) is ubiquitous in biology, for example in the 
            iron-sulfur clusters of ferredoxins. However, the chemical environment of the iron atom can have a
            large effect on the reduction potential of the Fe(III)/Fe(II) pair with the measured reduction potentials
            of natural ferredoxins varying by more than 350 mV [4]. That is, 
            variation in the measured reduction potential of ferredoxins equals to reduction potential of NAD/NADH!
            </p>

            <p>
            Similarly, in dissimilatory iron reduction the specific chemical form of Fe(III) can drastically affect
            the reduction potential. For example, a half reaction with a well-characterized crystalline form Goethite
            has a redox potential of about -300 mV while y-FeOOH, (Lepidocrocite), which can be treated as having the
            same empirical formula, has a redox potential of about -100 mV at pH 7 [9]. As a result we strongly
            suggest that you enter the second half-reaction that interests you (e.g. 
            <a href="/search?query=+pyruvate+%2B+CoA+%3D+acetyl-CoA+%2B+CO2">reduction of pyruvate to acetyl-CoA</a>) 
            and use the bottom panel to adjust the potential of the electrons in the reaction to match the iron
            donor-acceptor pair that interests you.
            </p>
            </div>
        </div>

        <div class="faqEntry" id="atpHydrolysis">
            <div class="faqQuestion">
                Why is the value for ATP hydrolysis different than in books by Alberty, 
                the previous version of eQuilibrator and some other textbooks?
            </div>
            <div class="faqAnswer">
            <p>
                The &Delta;G'&deg; of the ATP hydrolysis reaction is affected by many factors, notably 
                also by the concentration of free Mg<sup>2+</sup> ions. The value cited in [1] 
                and used in the original version of eQuilibrator (-36.4 kJ/mol) assumes no magnesium 
                ([Mg<sup>2+</sup>] = 0). In the
                current version of eQuilibrator<sup>2.0</sup> we use the component contribution method [12] 
                that uses measurements collected in the NIST thermodynamic database for enzyme-catalyzed reactions
                [7] that were performed under varying levels of Mg<sup>2+</sup>. This is also the more
                relevant situation in vivo. As noted in many studies, when taking into account [Mg<sup>2+</sup>], the
                value changes and is observed to be in the range -26 to -32 kJ/mol depending on the
                reference. A clear discussion can be found at [8].
            </p>
            </div>
        </div>

        <div class="faqEntry" id="totalDrivingForce">
            <div class="faqQuestion">
                What is the total driving force of a pathway?
            </div>
            <div class="faqAnswer">
            <p>
                We define the driving force of a reaction or pathway as -&Delta;G' - i.e. a favorable
                reaction has a positive driving force. The total driving force for a pathway is the driving
                force associated with the pathway net reaction given particular metabolite and cofactor 
                concentrations. The minimum total driving force, which we calculate in analyzing a pathway,
                is the smallest driving force associated with that pathway given the limits assumed for 
                metabolite an cofactor concentrations. Similarly, the maximum total driving force is 
                the largest driving force associated with pathway given those same limits.
            </p>
            </div>
        </div>

        <div class="faqEntry" id="mdf">
            <div class="faqQuestion">
                What is the meaning of the MDF value for a pathway?
            </div>
            <div class="faqAnswer">
            <p>
                The MDF of a pathway is a metric of how thermodynamically favorable a pathway can be
                in physiological conditions. The value of the MDF is smallest -&Delta;G' obtained
                by any pathway reaction when metabolite concentrations are chosen to make all pathway
                reactions as favorable as possible (-&Delta;G' as positive as possible).
            </p>
            <p>
                You can read more about the MDF in
                <a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1003483">PLoS Computational Biology</a>.
            </p>
            </div>
        </div>

        <div class="faqEntry" id="contact">
            <div class="faqQuestion">
                How can I contact the people behind eQuilibrator?
            </div>
            <div class="faqAnswer">
            <p>
                If you have questions about eQuilibrator, please consult the <a href="https://groups.google.com/forum/#!forum/equilibrator-users" alt="Contact Us">Google Group</a> to see if your question has been answered before. Please also post your questions to the group so that all eQuilibrator users can benefit from your experience. If you have questions about the data and methods on which eQuilibrator is based, please consult <a href="/cite">these references</a>. If you'd like to contact us directly, reach out to the <a href="http://www.weizmann.ac.il/plants/Milo/">Milo Lab</a>, which maintains eQuilibrator.
            </p>
            </div>
        </div>

    </div>
            
            {% include "references.html" %}
            
    {% include "footer.html" %}
    
    </div>

  </body>
</html>
