{% with "Reaction" as title %}
	{% include "header.html" %}
{% endwith %}

	<div class="centerize">

	{% include "half_reaction_balancing_check.html" %}

	<form id="rxnForm" name="reactionForm" action="/half_reaction" method="get">
		<input type="hidden" name="query" value="{{ query }}" />
		{% include "parsed_reaction.html" %}
		
		{% if reaction.is_balanced and reaction.is_half_reaction %}
			{% include "half_reaction_result_table.html" %}
			
			<div class="buttonSet">
				<input type="submit" value="Update" name="submit" onclick="form.target = '_self';" />
			</div>
		{% endif %}
		
	</form>

	{% if reaction.all_compounds %}
	<table class="compoundInfo">
		<tr>
			<th colspan="3">Compound Formation Energies</td>		
		</tr>
		<tr>
			<td>Compound</td>
			<td><a href="/faq#dgf">&Delta;<sub>f</sub>G&deg;</a></td>
			<td><a href="/faq#dgf">&Delta;<sub>f</sub>G'&deg;</a></td>
			<td>Source</td>
		</tr>
		{% for compound in reaction.all_compounds %}
		<tr>
			<td><a href="{{ compound.compound.link }}">{{ compound.name }}</a></td>
			<td>{{ compound.compound.dgf_zero|floatformat:1 }}</td>
			<td>
			{% if compound.transformed_energy != None %}
			{{ compound.transformed_energy|floatformat:1 }}
			{% else %}&mdash;
			{% endif %}
			</td>
			<td>
			{% if compound.compound.dg_source != None %}
			<a href="/data_refs" title="Reference list">{{ compound.compound.dg_source }}</a>
			{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
	
	
	</div>

{% include "footer.html" %}