{% load static %}
<html>
	<head>
		<title>{{ title }}</title>
		<link rel="icon" type="image/x-icon" href="{% static "images/equilibrator_favicon.png" %}">
		<link href="{% static "main.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "jquery-ui.structure.min.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "jquery-ui.theme.min.css" %}" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="{% static "jquery-1.11.3.min.js" %}"></script>
		<script type="text/javascript" src="{% static "jquery-ui.min.js" %}"></script>
		<script type="text/javascript" src="{% static "jquery.autocomplete.min.js" %}"></script>
		<script type="text/javascript" src="{% static "main.js" %}"></script>
    	{% include "analytics.html" %}
	</head>
	<body>
		
	<div class="header clearfix">
		{% include "logo_small.html" %}
		<div id="searchForm">
			<form name="searchForm" action="/search" method="get">
				<div>
					{% if query %}
						<input type="text" name="query" id="queryField" value="{{ query }}" />
						{% else %}
						<input type="text" name="query" id="queryField" />
					{% endif %}
		
					<input type="submit" id="submitButton" value="Search" />
				</div>
			</form>
		</div>
	</div>
