<html>
	<head>
		<title>{{ title }}</title>
		<link rel="icon" type="image/x-icon" href="/media/images/equilibrator_favicon.png">
		<link href="/media/main.css" rel="stylesheet" type="text/css">
		<link href="/media/style.css" rel="stylesheet" type="text/css">
		<link href="/media/jquery-ui.structure.min.css" rel="stylesheet" type="text/css">
		<link href="/media/jquery-ui.theme.min.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/media/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/media/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/media/jquery.autocomplete.min.js"></script>
		<script type="text/javascript" src="/media/main.js"></script>
    	{% include "analytics.html" %}
	</head>
	<body>
		
	<div class="header clearfix">
		{% include "logo_small.html" %}
		<div id="searchForm">
			<form name="searchForm" action="/search" method="get">
				<div>
					{% if query %}
						<input type="text" name="query" id="queryField" value="{{ query }}" />
						{% else %}
						<input type="text" name="query" id="queryField" />
					{% endif %}
		
					<input type="submit" id="submitButton" value="Search" />
				</div>
			</form>
		</div>
	</div>