{% load static %}
<html>
	<head>
		<title>eQuilibrator: The Biochemical Thermodynamics Calculator</title>
		<link rel="icon" type="image/x-icon" href="{% static "images/equilibrator_favicon.png" %}">
         <link href="//cdn.muicss.com/mui-0.9.39/css/mui.min.css" rel="stylesheet" type="text/css" />
		<link href="{% static "main.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "jquery-ui.structure.min.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "jquery-ui.theme.min.css" %}" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="{% static "jquery-1.11.3.min.js" %}"></script>
		<script type="text/javascript" src="{% static "jquery-ui.min.js" %}"></script>
		<script type="text/javascript" src="{% static "jquery.autocomplete.min.js" %}"></script>
		<script type="text/javascript" src="{% static "main.js" %}"></script>
	    {% include "analytics.html" %}
	</head>
	<body>
	
	<div class="welcome centerize">
	
        {% include "logo_large.html" %}
        <br />
        <form name="searchForm" class="mui-form--inline" action="/search" method="get">
            <div>
                <div class="mui-textfield">
                    <input type="text" name="query" id="queryField" size="70" placeholder="Type a name of a compound, reaction or enzyme" />
                </div>
            <input type="submit" id="button" class="mui-btn mui-btn--primary" value="Search" />
            </div>
        </form>
        <br />
            <div class="warning">
                eQuilibrator now does pathways! <a href="/pathway">Check it out.</a>
            </div>
        <br />
        {% include "examples.html" %}		
	</div>

	{% include "footer.html" %}

