<html>
	<head>
		<title>eQuilibrator: The Biochemical Thermodynamics Calculator</title>
		<link rel="icon" type="image/x-icon" href="/media/images/equilibrator_favicon.png">
		<link href="/media/main.css" rel="stylesheet" type="text/css">
		<link href="/media/jquery-ui.structure.min.css" rel="stylesheet" type="text/css">
		<link href="/media/jquery-ui.theme.min.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/media/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/media/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/media/jquery.autocomplete.min.js"></script>
		<script type="text/javascript" src="/media/main.js"></script>
	    {% include "analytics.html" %}
	</head>
	<body>
	
	<div class="welcome centerize">
	
		{% include "logo_large.html" %}
		<b>Welcome to the new eQuilibrator!</b> Version 1.0 is available
          <a href="http://equilibrator1.milolab.webfactional.com/">here</a>
		<div id="searchForm">
			<form name="searchForm" action="/search" method="get">
				<div>
					<input type="text" name="query" id="queryField" placeholder="Type a name of a compound, reaction or enzyme"/>
					<input type="submit" id="submitButton" value="Search" />
				</div>
			</form>
		</div>
		
		{% include "examples.html" %}
		
		{% include "footer.html" %}
	</div>
	
	</body>
</html>