<html>
<head>
    <title>New in version 2.0</title>
    <link href="/media/info_page.css" rel="stylesheet" type="text/css">
	<link rel="icon" type="image/x-icon" href="/media/images/equilibrator_favicon.png">
	<link href="/media/main.css" rel="stylesheet" type="text/css">
	<link href="/media/style.css" rel="stylesheet" type="text/css">
	{% include "analytics.html" %}
</head>
    <body>
        <div class="container">
            {% include "logo_large.html" %}
            <div class="title">What's new in eQuilibrator 2.0+?</div>
            <ol>
                <li>The <b>uncertainty</b> of each estimation is now provided. For example,  when we write &Delta;<sub><i>r</i></sub>G' = -32.1 &plusmn; <b>1.4</b> [kJ/mol], the 1.4 represents a 95% confidence interval around the estimated Gibbs energy. This change was facilitated by upgrading our software to the more precise Component Contribution method.</li>
                <li>A dedicated page for <b>reduction potentials</b> (see for example <a href="/search?query=oxaloacetate+%3D+L-malate">Oxaloacetate reduction</a>).</li>
                <li>Gas, liquid and solid phase for the relevant compounds (e.g. you can use O<sub>2</sub>(g) and CO<sub>2</sub>(g) in <a href="/search?query=Glucose+%2B+6+O2%28g%29+%3D+6+CO2%28g%29+%2B+6+H2O">glucose oxidation</a>).</li>
                <li>A fresh design and LOTS of usability upgrades.</li>
                <li>Substantially faster search powered by <a href="http://xapian.org/">Xapian</a>.</li>
            </ol>
            
    {% include "footer.html" %}
    
    </div>

    </body>
</html>
