<html>
	<head>
		<title>Printable Reaction</title>
		<link href="/media/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="printable">
			{% for compound in reaction.substrates %}
				{% if compound.abs_coeff != 1 %} {{ compound.abs_coeff|floatformat:-2 }} {% endif %}
				{{ compound.name }}{{ compound.subscript }} <sub>[{{ compound.human_string }}]</sub>
				
				{% if not forloop.last %} + {% endif %}
			{% endfor %}
			&rlhar;
			{% for compound in reaction.products %}
				{% if compound.abs_coeff != 1 %} {{ compound.abs_coeff|floatformat:-2 }} {% endif %}
				{{ compound.name }}{{ compound.subscript }} <sub>[{{ compound.human_string }}]</sub>
				
				{% if not forloop.last %} + {% endif %}
			{% endfor %} = {{ reaction.dg_prime|floatformat:1 }} kJ / mol
                  <sub>[pH = {{ reaction.aq_params.pH }}, I = {{reaction.aq_params.ionic_strength}} M]</sub>
		</div>
	</body>
</html>