<html>
	<head>
		<title>Printable Reaction</title>
		<link href="/media/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="printable">
			{% for compound in reaction.substrates %}
				{% if compound.coeff > 1 %} {{ compound.coeff }} {% endif %}
				{{ compound.name }} ({{ compound.human_concentration_w_units }})
				
				{% if not forloop.last %} + {% endif %}
			{% endfor %}
			&rarr;
			{% for compound in reaction.products %}
				{% if compound.coeff > 1 %} {{ compound.coeff }} {% endif %}
				{{ compound.name }} ({{ compound.human_concentration_w_units }})
				
				{% if not forloop.last %} + {% endif %}
			{% endfor %} = {{ reaction.dg_tag|floatformat:1 }} kJ / mol
		</div>
	</body>
</html>