<html>
    <head>
        <title>Graph</title>
        <link rel="icon" type="image/x-icon" href="/media/images/equilibrator_favicon.png">
        <link href="/media/main.css" rel="stylesheet" type="text/css">
        <link href="/media/style.css" rel="stylesheet" type="text/css">
        <link href="/media/jquery-ui-1.8.5.custom.css" rel="stylesheet" type="text/css">
        <link href="/media/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/media/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/media/jquery-ui-1.8.5.custom.min.js"></script>
        <script type="text/javascript" src="/media/jquery.autocomplete.js"></script>
        <script type="text/javascript" src="/media/jquery.lightbox-0.5.min.js"></script>
        
        <!-- Tangle and TangleKit -->
        <link rel="stylesheet" href="media/Tangle/TangleKit/TangleKit.css" type="text/css"> 
        <script type="text/javascript" src="media/Tangle/Tangle.js"></script>
        <script type="text/javascript" src="media/Tangle/TangleKit/mootools.js"></script> 
        <script type="text/javascript" src="media/Tangle/TangleKit/sprintf.js"></script> 
        <script type="text/javascript" src="media/Tangle/TangleKit/BVTouchable.js"></script> 
        <script type="text/javascript" src="media/Tangle/TangleKit/TangleKit.js"></script>
         
        <!-- flot plotting -->
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="flot/excanvas.min.js"></script><![endif]-->
        <script language="javascript" type="text/javascript" src="media/flot/jquery.flot.js"></script>

    <script type="text/javascript">

        function setUp () {
            
            var element = document.getElementById("plotContainer");
            var mode = "{{ mode }}";
                  
            compounds = jQuery.parseJSON('{{ compound_data|safe }}');
            coeffs = jQuery.parseJSON('{{ coeff_data|safe }}');
            concentrations = jQuery.parseJSON('{{ concentration_list|safe }}');

            var tangle = new Tangle(element, {
                initialize: function () {
                    this.ph = 7.0;               // ph units (unitless)
                    this.pmg = 14.0;             // pmg units (unitless)
                    this.is = 0.1;               // ionic strength
                    this.rt = 8.31e-3 * 298.15;  // kJ/(mol K)
                    this.dgf_mg = -455.3;        // kJ/mol
                    this.compounds = compounds;
                    this.coeffs = coeffs;
                    this.concentrations = concentrations;
                    this.mode = mode;
                },

                getDeltaGSpecie: function (specie, ph, is) {
                    var nh = specie.nh;
                    var nmg = specie.nmg;
                    var nc = specie.charge;
                    var dgf = specie.dgzero;
                    var prot_pot = nh * this.rt * Math.log(10) * ph;
                    var ionic_pot = 2.91482 * (Math.pow(nc, 2) - nh) * Math.sqrt(is);
                    ionic_pot /= 1 + 1.6 * Math.sqrt(is);
                    var mg_pot = nmg * (this.rt * Math.log(10) * this.pmg - this.dgf_mg);
                    return dgf + mg_pot + prot_pot - ionic_pot;
                },
                
                getDeltaGSpecies: function (species, ph, is) {
                    var scaled_transforms = [];
                               
                    for (var i = 0; i < species.length; ++i) {
                        var species_dg = this.getDeltaGSpecie(species[i], ph, is);
                        var st = -(species_dg / this.rt);
                        scaled_transforms.push(st);
                    }
                    var offset = Math.min.apply(Math, scaled_transforms);
                    var sum_exp = 0;
                    for (var i = 0; i < scaled_transforms.length; ++i) {
                        var st = scaled_transforms[i];
                        sum_exp += Math.exp(st - offset);
                    }
                    
                    return -this.rt * (offset + Math.log(sum_exp));
                },
                
                getDeltaGPrime0: function (ph, is) {
                    var DeltaGPrime0 = 0;
                    for (var i = 0; i < this.compounds.length; ++i) {
                        var species = this.compounds[i];
                        var coeff = this.coeffs[i];
                        
                        DeltaGPrime0 += coeff * this.getDeltaGSpecies(species, ph, is);
                    }
                    
                    return DeltaGPrime0;
                }, 
                
                getDeltaGPrime: function (ph, is) {
                    var DeltaGPrime = this.getDeltaGPrime0(ph, is);
                    
                    {% if conditions and conditions != "standard" %}
                        // Correct for concentrations.
                        for (var i = 0; i < this.compounds.length; ++i) {
                            var c = this.concentrations[i];
                            DeltaGPrime += this.rt * this.coeffs[i] * Math.log(c);
                        }
                    {% endif %}
                    return DeltaGPrime;
                },
                
                varyPh: function () {
                    var points = [];
                    
                    for (curPh = 4; curPh <= 10; curPh += 0.1) {
                        var DeltaGPrime = this.getDeltaGPrime(curPh, this.is).toFixed(4);
                        points.push([curPh, DeltaGPrime]);
                    }
                    
                    var series = {
                        data: points
                    };
                    return series;
                },

                varyIonicStrength: function () {
                    var points = [];
                    
                    for (curIs = 0; curIs <= 0.35; curIs += 0.001) {
                        var DeltaGPrime = this.getDeltaGPrime(this.ph, curIs).toFixed(4);
                        points.push([curIs, DeltaGPrime]);
                    }
                    
                    var series = {
                        data: points
                    };
                    return series;
                },

                dgTickFormatter: function(num, axis) {
                    return (num).toFixed(1) + " kJ/mol";
                },

                isTickFormatter: function(num, axis) {
                    return (num).toFixed(2) + " M";
                },
                
                phTickFormatter: function(num, axis) {
                    return "pH " + (num).toFixed(0);
                },
                
                update: function () {
                    var all_series = [];
                    var options = {
                        yaxis: { tickFormatter: this.dgTickFormatter },
                        legend: { container: "#legendContainer" }
                    };
                    
                    if (this.mode == 'varyIs') {
                        var isSeries = this.varyIonicStrength();
                        all_series.push(isSeries);
                        options.xaxis = { tickFormatter: this.isTickFormatter };
                    } else {
                        var phSeries = this.varyPh();
                		all_series.push(phSeries);
                		options.xaxis = { tickFormatter: this.phTickFormatter };
                	}
                	
                    $.plot($("#dgFigure"), all_series, options);
                }

            });
        }

    </script>

	</head>
	<body onload="setUp();">

	<div class="header clearfix">
		{% include "logo_small.html" %}
		<div id="searchForm">
			<form name="searchForm" action="/search" method="get">
				<div>
					{% if query %}
						<input type="text" name="query" id="queryField" value="{{ query }}" />
						{% else %}
						<input type="text" name="query" id="queryField" />
					{% endif %}
		
					<input type="submit" id="submitButton" value="Search" />
				</div>
			</form>
		</div>
	</div>

	<div class="centerize">

		{% include "parsed_reaction.html" %}

		<div id="plotContainer">
		
			<div id="figureContainer">
				<div id="legendContainer"></div>
				<div id="dgFigure" style="margin:auto;width:600px;height:300px;">
				</div>
			</div>
			
			<p id="plotTitle">
			</p>
                <p>
                    {% if conditions and conditions != "standard" %}
                        &Delta;<sub>r</sub>G'
                    {% else %}
                        &Delta;<sub>r</sub>G'&deg;
                    {% endif %}
                    [kJ/mol] as a function of 
                    {% if mode == "varyIs" %}
                        Ionic Strength [M]</br></br>
                        at pH = <span data-var='ph' class='TKAdjustableNumber' data-min='0.0' data-max='14.0' data-step='0.25' data-format='%.2f'></span>
                    {% else %}
                        pH</br></br>
                        at ionic strength = <span data-var='is' class='TKAdjustableNumber' data-min='0.0' data-max='0.35' data-step='0.01' data-format='%.2f'>  M</span>
                    {% endif %}
                    </br></br>
                    Estimated using
                    {% for source_name, url in reaction.source_references %}
                        <a href="{{ url }}" target="_blank">{{ source_name }}</a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% if conditions and conditions != "standard" %}
                <table class="results">
                    <tr class="infoTableHeader">
                        <th colspan="100%">Reactant Concentrations</th>
                    </tr>
                    {% for reactant in reaction.reactants %}
                    <tr>
                        <td>{{ reactant.name }} {{ reactant.subscript }}</td>
                        <td width="450px">{{ reactant.value_string }} {{ reactant.units }}</td>
                    </tr>
                   {% endfor %}
                </table>
            {% endif %}

        </div>
       
    </div>
    </body>
    
    </html>

