{% if reaction.dg0_prime != None %}
    <tr>
        <td>
            pH
            {% if reaction.is_electron_balanced %}
            <a href="{{ reaction.ph_graph_link }}" class="graphLink" target="_blank" title="Plot &Delta;G' as a function of pH">
            <img src="/media/images/plot.svg" height="20" width="20" />
            {% endif %}
        </td>
        <td width="70px">
            <input type="text" name="ph" id="phField" value="{{ reaction.aq_params.pH }}" size="3"/>
        </td>
        <td colspan="3">
            <div id="phSlider"/>
        </td>
    </tr>
    <tr>
        <td>
            Ionic strength [M]
            {% if reaction.is_electron_balanced %}
            <a href="{{ reaction.is_graph_link }}" class="graphLink" target="_blank" title="Plot &Delta;G' as a function of ionic strength">
            <img src="/media/images/plot.svg" height="20" width="20" />
            {% endif %}
        </td>
        <td width="70px">
            <input type="text" name="ionic_strength" id="ionStrengthField" value="{{ reaction.aq_params.ionic_strength }}" size="3"/>
        </td>
        <td colspan="3">
            <div id="ionStrengthSlider" />
        </td>
    </tr>
{% endif %}
