    {% if reaction.is_reactant_formula_missing %}
        <div class="warning">Reaction balancing cannot be checked!</div>
    {% else %}
        {% if not reaction.is_balanced %}
            <div class="warning">Reaction is not balanced!
            {% if reaction.balanced_with_water and balance_with_water_link %}
            <a href="{{ balance_with_water_link }}">Balance with water</a>?
            {% endif %}
            </div>
        {% else %}
            {% if not reaction.is_electron_balanced %}
                <div class="warning">Electrons are not balanced!
                <a href="/faq#halfReactions">Learn more &raquo;</a></br>
                {% if balance_electrons_link %}
                <a href="{{ half_reaction_link }}">Treat as half-reaction</a> or <a href="{{ balance_electrons_link }}">Balance with NADH</a>?
                {% endif %}
                </div>
            {% else %}
                {% if not reaction.is_conserving %}
                    <div class="warning">We cannot estimate the &Delta;<sub>r</sub>G&deg; of this reaction with any reasonable certainty</div>
                {% else %}
                    {% if reaction.contains_co2 %}
                        <div class="warning">
                        Did you mean <a href="{{ replace_co2_link }}">CO<sub>2</sub>(total)</a>?
                        <a href="/faq#aqueousCO2">Learn more &raquo;</a>
                        </div>
                    {% else %}
                        {% if reaction.contains_volatile %}
                            <div class="warning">
                            Did you mean
                            {% for compound in reaction.volatile_reactants %}
                            {{ compound.name }}<sub>(g)</sub> instead of {{ compound.name }}<sub>(aq)</sub>
                            {% if not forloop.last %} or {% endif %}
                            {% endfor %}
                            ?
                            <a href="/faq#gases">Learn more &raquo;</a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}