<div class="section references">
	<div class="title">References</div>
	<ol>
		<li>R.A. Alberty, "Biochemical Thermodynamics" (Hoboken, NJ, USA: John Wiley & Sons, Inc., 2006).</li>
		<li>R.A. Alberty, "Thermodynamics of biochemical reactions" (Hoboken N.J.: Wiley-Interscience, 2003).</li>
		<li>M.L. Mavrovouniotis, "Estimation of standard Gibbs energy changes of biotransformations" The Journal of Biological Chemistry (1991) 266(22):14440-14445.</li>
		<li>M.D. Jankowski et al., "Group Contribution Method for Thermodynamic Analysis of Complex Metabolic Networks" Biophysical Journal (2008) 95(3):1487-1499.</li>
		<li>E. Noor, A. Bar-Even, A. Flamholz, Y. Lubling, D. Davidi, R. Milo, "An integrated open framework for thermodynamics of reactions that combines accuracy and coverage" Bioinformatics (2012) 28:2037-2044.</li>
		<li>E. Noor, H.S. Haraldsdóttir, R. Milo, R.M.T. Fleming, "Consistent Estimation of Gibbs Energy Using Component Contributions" PLoS Comput Biol (2013) 9:e1003098.</li>
		<li>M. Kanehisa, S. Goto, "KEGG: Kyoto Encyclopedia of Genes and Genomes" Nucleic Acids Research (2000) 28(1):27-30.</li>
		<li>R.N. Goldberg, Y.B. Tewari, T.N. Bhat, <a href="http://xpdb.nist.gov/enzyme_thermodynamics/">"Thermodynamics of Enzyme-Catalyzed Reactions - a Database for Quantitative Biochemistry"</a>, Bioinformatics 2004;20(16):2874-2877.</li>
        <li>R. Guynn, R.J. Veech, "The equilibrium constants of the adenosine triphosphate hydrolysis and the adenosine triphosphate-citrate lyase reactions", The Journal of Biological Chemistry (1973) 248:6966-6972.</li>
        <li>A. Radzicka, R. Wolfenden, "A proficient enzyme", Science (1995) 267:90-93.</li>
        <li>P. J. Stephens, D. R. Jollie, A. Warshel, "Protein Control of Redox Potentials of Iron−Sulfur Proteins" Chem. Rev. (1996) 96:2491–2514.</li>
        <li>A. Navrotsky, L. Mazeina, J. Majzlan, "Size-Driven Structural And Thermodynamic Complexity In Iron-Oxides" Science  (2008) 319:1635–1638.</li>
	</ol>
</div>